@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
* {
    font-family: 'Racing Sans One', cursive;
  }
  
  body {
    min-height: 90vh;
    background-image: url("../images/bgBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
  }
  
  header {
    padding: 30px 0px 20px 0px;
  }
  
  .logo {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .initialText {
      font-size: 20px;
      color: #DCE1E9;
      letter-spacing: 1.5px;
  }
  
  .startButton {
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .mainArea {
    padding-bottom: 20px;
  }
  
  .timerText {
    font-size: 20px;
    color: #DCE1E9;
  }
  
  .questionText {
    font-size: 30px;
    color: #DCE1E9;
  }
  
  .correctText, .wrongText, .timeOutText, .finishedText {
      font-size: 50px;
      color: #DCE1E9;
  }
  
  .summaryCorrect, .summaryWrong, .summaryUnanswered {
    font-size: 20px;
    color: #DCE1E9;
  }
  
  #timer {
      color: #D4AFB9;
      font-size: 40px;
      font-weight: bold;
  }
  
  .answer:hover {
    background: lightblue;
  }
  
  .answer {
    height: 45px;
    width: 250px;
    color: black;
    background-color: white;
    border-radius: 4px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
  }
  
  .imgWrong, .imgCorrect {
    margin-top: 40px;
    width: 250px;
  }
  
  .questionText {
    margin-bottom: 50px;
  }
  
  .resetButton {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  
  .summaryCorrect {
    margin-top: 40px;
  }
  
  .summaryCorrect, .summaryWrong, .summaryUnanswered {
    margin-left: auto;
    margin-right: auto;
  }


  
  